<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Готовые документы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light text-center">

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="mb-4">✅ Ваши документы готовы!</h3>
            <a class="btn btn-primary mb-2" href="{{ word_path }}" download>📄 Скачать Word-файл</a><br>
            <a class="btn btn-primary mb-2" href="{{ pdf_path }}" class="btn btn-danger" download>📄 Скачать PDF</a>
            <a class="btn btn-secondary" href="/">🔙 Вернуться назад</a><br>
        </div>
    </div>
</div>

</body>
</html>
